@import "tailwindcss";
@import '../styles/swiper.module.css';
@import '../styles/promocard.module.css';


@layer base {
  .hoverEffect {
    @apply transition-all duration-300 ease-in-out;
  }
  button {
    @apply hover:cursor-pointer
  }
}

